<div class = "container" >

  <div class = "row" >

    <div class = "col-lg-4" >

      <div class = "mt-3 p-3">

        <h3><%= @user.name %></h3>
        <p><%= image_tag @user.get_profile_image(200,200)%></p>
        <p><strong><%= @user.followings.count %></strong> follow <strong><%= @user.followers.count %></strong> follower</p>

      </div>

    </div>

    <div class = "col-lg-8" >

      <div class = "mt-3">

        <h3 style="font-family: 'Comfortaa', cursive; font-weight:600;">Follower list</h3>
         <%= render 'public/relationships/follow_list' ,users: @users %>

      </div>

    </div>

  </div>

</div>
