<div class = "container" >

  <div class = "row" >

    <div class = "col-lg-4" >

      <h3><%= @user.name %></h3>
      <%= image_tag @user.get_profile_image(100,100)%>
      <p><strong><%= @user.followings.count %></strong> follow <strong><%= @user.followers.count %></strong> follower</p>

    </div>

    <div class = "col-lg-8" >

      <h3>Follower list</h3>
       <%= render 'public/relationships/follow_list' ,users: @users %>

    </div>

  </div>

</div>
