<h1>Public::PostImages#edit</h1>
<p>Find me in app/views/public/post_images/edit.html.erb</p>

<h3>Editing Flower Field</h3>

<div>

  <%= form_with model: @post_image,url: public_post_image_path,method: :patch do |f| %>

  <h3>「いつ？どこで？どんな花が？」</h3>

  <p><strong>地域</strong></p>

   <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :area ) do |tag| %>

     <%= tag.label do %>

      <%= tag.check_box %>

      <%= tag.text %>

     <% end %>

   <% end %>

    <p><strong>いつ？</strong></p>

    <p><%= f.text_field :day %></p>

    <p><strong>どこで？</strong></p>

    <p><%= f.text_field :field %></p>

    <p><strong>どんな花が？</strong></p>

    <p><%= f.text_field :flower %></p>

  </div>

  <div>

    <p><strong>何分咲き？</strong></p>

    <p><%= f.text_field :star %></p>

    <p><strong>住所など分かりましたらお願いします。</strong>＜任意＞</p>

    <p><%= f.text_area :address %></p>

    <p><strong>お気付きな事がありましたらお願いします。</strong>＜任意＞</p>

    <p><%= f.text_area :comment %></p>

    <%= f.submit '投稿' %>

  <% end %>

</div>