<div class = "container">

  <div class = "row">

    <div class = "mx-auto p-3">
      <div class = "mx-auto">
        <h3 style = "font-family: 'Kiwi Maru', serif;">新規投稿</h3>
      </div>
       <h5>「いつ？どこで？どんな花が、、、」</h5>
       <h5>あなたが見つけた「花の咲く場所」を教えて下さい。</h5>
    </div>

  </div>

  <div class = "row">

    <div class = "mx-auto">

      <% if @post_image.errors.any? %>
        <%= @post_image.errors.count %>件のエラーが発生しました。
          <ul>
            <% @post_image.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

    </div>

  </div>

  <div class = "row">

    <div class = "col-lg-6">

      <div class = ml-5>

      <%= form_with model: @post_image,url: public_post_images_path,method: :post do |f| %>

          <p><strong>地域</strong></p>
          <p><%= f.collection_select(:tag_id, Tag.all, :id, :area )%></p>

          <p><strong>画像</strong></p>
          <p><%= f.file_field :image ,placeholder:"画像",accept: "image/*" %></p>

          <p><strong>いつ？</strong></p>
          <p><%= f.text_field :day ,placeholder:"20200101"%></p>

          <p><strong>どこで？</strong></p>
          <p><%= f.text_field :field ,placeholder:"花の名所、植物園"%></p>

          <p><strong>どんな花が？</strong></p>
          <p><%= f.text_field :flower ,placeholder:"桜、躑躅、紫陽花"%></p>

        </div>

    </div>

    <div class = "col-lg-6">

      <div class = ml-5>

      <p><strong>住所など分かりましたらお願いします。</strong>＜任意＞</p>
      <p>＜※ 東京都台東区上野1-1-1、など＞</p>

      <p><%= f.text_area :address %></p>

      <p><strong>お気付きな事がありましたらお願いします。</strong>＜任意＞</p>
      <p>＜※ 交通、近隣情報、営業時間、入園料、設備、など＞</p>

      <p><%= f.text_area :comment %></p>

      <p><strong>何分咲き？</strong></p>

        <div id="star">
          <%= f.label :star,'開花状況' %>
           <%= f.hidden_field :star, id: :review_star %>
        </div>

        <script>
              $(function(){
                $('#star').raty({
                  size    :  36,
                  starOff :  '<%= asset_path('star-off.png') %>',
                  starOn  :  '<%= asset_path('star-on.png') %>',

                  scoreName: 'post_image[star]',
                  targetScore: '#review_star',
                  half: false,
                });
              });
        </script>

      </div>

    </div>

  </div>

  <div class = "row">

    <div class = "mx-auto pt-3">
     <p><%= f.submit '花の咲く場所を投稿' ,class: "btn btn-success m-3"%></p>

        <% end %>
    </div>

  </div>

</div>