<h1>Public::PostImages#show</h1>
<p>Find me in app/views/public/post_images/show.html.erb</p>

<h3>Flower Field Detail</h3>

<div>

  <p><strong>Image</strong></p>
  <p><%= image_tag @post_image.get_image(200,200)%></p>

</div>

<div>

    <p><strong>Area</strong></p>

    <p><% @post_image.tags.each do |tag| %>
        <%= tag.area %>
       <% end %></p>

    <p><strong>Flower</strong></p>
    <p><%= @post_image.flower %></p>

    <p><strong>Field</strong></p>
    <p><%= @post_image.field %></p>

    <p><strong>Day</strong></p>
    <p><%= @post_image.day %></p>

    <p><strong>Review</strong></p>
    <div id = "star-rate<%= @post_image.id %>"></div>

    <script>
      $(function(){
        $('#star-rate<%= @post_image.id%>').raty({
          size     :36,
          starOff  : '<%= asset_path('star-off.png')%>',
          starOn   : '<%= asset_path('star-on.png')%>',
          half     : false,
          readOnly: true,
          score: <%= @post_image.star %>,
          });
      });
    </script>

    <p><strong>Adress</strong></p>
    <p><%= @post_image.address %></p>

    <p><strong>Comment</strong>
    <p><%= @post_image.comment %></p>

    <p><strong>User</strong></p>
    <p><%= @post_image.user.name %></p>

  <% if @post_image.user == current_user %>
    <p><%= link_to'編集',edit_public_post_image_path(@post_image.id) %></p>
    <p><%= link_to'削除',public_post_image_path(@post_image.id),method: :delete,"data-confirm"=>"本当に削除しますか？" %></p>
  <% end %>

</div>

<div>

  <p>コメント件数：<%= @post_image.post_comments.count %></p>

  <% @post_image.post_comments.each do |post_comment| %>

    <p><%= image_tag post_comment.user.get_profile_image(50,50) %></p>

    <p><%= post_comment.user.name %></p>

    <p><%= post_comment.created_at.strftime('%Y/%m/%d')%><%= post_comment.comment %></p>

    <% if post_comment.user == current_user %>
      <%= link_to"削除",public_post_comment_path(post_comment.id),method: :delete %>
    <% end %>

</div>

  <% end %>

<div>

  <%= form_with model: @post_comment, url: public_post_comments_path  do |f| %>

    <%= hidden_field_tag :post_image_id, @post_image.id %>

    <%= f.text_area :comment,rows:'5',placeholder:"コメントをここに" %>

    <%= f.submit"Create" %>

  <% end %>

</div>