<h1>Public::PostImages#show</h1>
<p>Find me in app/views/public/post_images/show.html.erb</p>

<h3>Flower Field detail</h3>

<div>
  <p>IMAGE</p>
</div>

<div>

  <p>地域</p>
  <p><% @post_image.tags.each do |tag| %>
      <%= tag.area %>
     <% end %></p>

  <p>花</p>
  <p><%= @post_image.flower %></p>

  <p>場所</p>
  <p><%= @post_image.field %></p>

  <p>月日</p>
  <p><%= @post_image.day %></p>

  <p>開花状況</p>
  <p><%= @post_image.star %></p>

  <p>住所</p>
  <p><%= @post_image.address %></p>

  <p>コメント</p>
  <p><%= @post_image.comment %></p>

  <p>投稿書</p>
  <p><%= @post_image.user.name %></p>

  <p><%= link_to'編集',edit_public_post_image_path(@post_image.id) %></p>
  <p><%= link_to'削除',public_post_image_path(@post_image.id),method: :delete,"data-confirm"=>"本当に削除しますか？" %></p>

</div>
