<div class = "container">

  <div class = "row" >
    <div class = "mx-auto my-5" >
      <h1 style="font-family: 'Comfortaa', cursive; font-weight:600;">Flower <%= image_tag('f.f.png') %> Field　</h1>
    </div>
  </div>

  <div class = "row" >

    <div class = "ml-auto mr-3 mt-5">
      <p><%= link_to"ログイン",new_user_session_path,class: "btn btn-success" %></p>
    </div>

    <div class = "mr-auto ml-3 mt-5">
      <p><%= link_to"新規登録",new_user_registration_path,class: "btn btn-info" %></p>
    </div>

  </div>

  <div class = "row" >
    <div class = "mx-auto mt-5">
      <p ><%= link_to'ゲストログインはこちら',public_homes_guest_sign_in_path, method: :post ,class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>

  <div class = "row" >
    <div class = "mx-auto mt-3">
      <p><%= link_to'管理者ログイン',new_admin_session_path,class: "btn btn-danger btn-lg" %></p>
    </div>
  </div>

</div>