<table class = "table text-white-50" style = "table-color: #203744;" >
  <thead>
    <tr>
      <th>Image</th>
      <th>Flower</th>
      <th>Field</th>
      <th>Day</th>
      <th>Review</th>
    </tr>
  </thead>
  <tbody>
    <% post_images.each do |post_image|%>
    <tr>
      <td><%= link_to admin_post_image_path(post_image.id) do  %>
            <%= image_tag post_image.get_image(50,50) %>
          <% end %>
      </td>
      <td><%= post_image.flower %></td>
      <td><%= post_image.field %></td>
      <td><%= post_image.day %></td>
      <td>
        <div id ="star-rate<%= post_image.id %>"></div>

          <script>
            $(function(){
              $('#star-rate<%= post_image.id %>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>' ,
                half      : false,
                readOnly  : true,
                score: <%= post_image.star %>,
              });
            });
          </script>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate post_images %>