<h1>Admin::PostImages#show</h1>
<p>Find me in app/views/admin/post_images/show.html.erb</p>



<%= render 'public/post_images/list',user: @post_image.user %>

<h3>Flower field detail</h3>

<div>

  <p><strong>Image</strong></p>
  <p><%= image_tag @post_image.get_image(300,300)%></p>

</div>

<div>

    <p><strong>Area</strong></p>

    <p><% @post_image.tags.each do |tag| %>
        <%= tag.area %>
       <% end %></p>

    <p><strong>Flower</strong></p>
    <p><%= @post_image.flower %></p>

    <p><strong>Field</strong></p>
    <p><%= @post_image.field %></p>

    <p><strong>Day</strong></p>
    <p><%= @post_image.day %></p>

    <p><strong>Review</strong></p>
    <div id = "star-rate<%= @post_image.id %>"></div>

    <script>
      $(function(){
        $('#star-rate<%= @post_image.id%>').raty({
          size     :36,
          starOff  : '<%= asset_path('star-off.png')%>',
          starOn   : '<%= asset_path('star-on.png')%>',
          half     : false,
          readOnly: true,
          score: <%= @post_image.star %>,
          });
      });
    </script>

    <p><strong>Adress</strong></p>
    <p><%= @post_image.address %></p>

    <p><strong>Comment</strong>
    <p><%= @post_image.comment %></p>

    <p><strong>User</strong></p>
    <p><%= @post_image.user.name %></p>

</div>
<!--いいね機能-->
<div>
  <p>♥<%= @post_image.favorites.count %>いいね</p>
</div>
<!--いいね機能-->
<!--コメント機能-->
<div>
  <p>コメント件数：<%= @post_image.post_comments.count %></p>
  <div>
     <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% @post_image.post_comments.each do |post_comment| %>
        <tr>
          <td><%= link_to admin_user_path(post_comment.user.id) do %>
                <%= image_tag post_comment.user.get_profile_image(50,50) %>
              <% end %>
          </td>
          <td><%= post_comment.user.name %></td>
          <td><%= post_comment.comment %>
              <%= post_comment.created_at.strftime('%Y/%m/%d')%>
              <%= link_to"このコメントを削除する",admin_post_comment_path(post_comment.id),method: :delete %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<p><%= link_to"この投稿を編集する。",edit_admin_post_image_path(@post_image.id) %></p>

<p><%= link_to"この投稿を削除する",admin_post_image_path(@post_image.id),method: :delete,"data-confirm"=>"本当に削除しますか？" %></p>
<!--コメント機能-->
