<div>
  <table class = "table table-dark" >
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Introduction</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
      <tr>
        <td><%= link_to admin_user_path(user.id) do %>
              <%= image_tag user.get_profile_image(100,100) %>
            <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
        <td>
          <strong><%= user.followings.count %></strong> follow
          </br>
          <strong><%= user.followers.count %></strong> follower
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate users %>
</div>