<div class = "container" >

  <div class = "row" >

    <div class = "mx-auto" >

       <h3 class = "mt-3" >投稿者情報の編集</h3>
       
        <% if @user.errors.any? %>
          <%= @user.errors.count %>件のエラーが発生しました。
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        <% end %>

      <%= form_with model: @user,url: admin_user_path(@user.id),method: :patch do |f| %>

        <p><strong>Profile image</strong></p>

        <p><%= f.file_field :profile_image,accept: "image/*" %></p>

        <p><strong>Name</strong></p>

        <p><%= f.text_field :name %></p>

        <p><strong>Introduction</strong></p>

        <p><%= f.text_area :introduction %></p>

        <p><strong>会員情報</strong><p>

        <p><%= f.radio_button :is_active,"true" %>
           <%= f.label :is_active,"有効会員"%>

           <%= f.radio_button :is_active,"false" %>
           <%= f.label :is_active,"退会済み" %>
        </p>

        <p><%= f.submit '編集する',class: "btn btn-success" %></p>

      <% end %>

    </div>

  </div>

</div>