<div class = "container" >

  <h3>投稿者情報</h3>

  <div class = "row" >

    <div class = "col-lg-4" >

      <p><strong>Image</strong></p>

      <p><%= image_tag @user.get_profile_image(200,200)%></p>

      <p><strong>Name</strong></p>

      <p><%= @user.name %></p>

      <p><strong>Introduction</strong></p>

      <p><%= @user.introduction %></p>

      <p><%= link_to"このユーサーの情報を編集する。",edit_admin_user_path(@user.id),class: "btn btn-info"%></p>

    </div>

    <div class = "col-lg-8" >

      <%= render 'admin/post_images/post',post_images: @post_images %>

    </div>

  </div>

</div>