<div class = "container" >

  <div class = "row" >

    <div class = "mx-auto" >

      <h3 class = "mt-3">Editing user detail</h3>

      <%= form_with model: @user,url: public_user_path(@user.id),method: :patch do |f| %>

        <p><strong>Profile image</strong></p>

        <p><%= f.file_field :profile_image,accept: "image/*" %></p>

        <p><strong>Name</strong></p>

        <p><%= f.text_field :name %></p>

        <p><strong>Introduction</strong></p>

        <p><%= f.text_area :introduction %></p>

        <p><strong>Mail address</strong></p>

        <p><%= f.text_field :email %></p>

        <p><strong>Password</strong></p>

        <p><%= f.text_field :encrypted_password %></p>

        <p><%= f.submit '編集する',class: "btn btn-success"%></p>

      <% end %>

      <p><%= link_to'退会する',public_unsubscribe_path(@user.id),class: "btn btn-danger" %></p>

    </div>

  </div>

</div>