<div class = "container" >

  <div class = "row" >

    <div class = "col-lg-4" >
      <div class = "mt-3" >
         <h3 style="font-family: 'Comfortaa', cursive; font-weight:600;">Users</h3>

          <%= render 'public/post_images/list',user: @user %>

      </div>
    </div>

    <div class = "col-lg-8" >
      <div class = "mt-3" >

        <table class = "table text-white-50" style = "table-color: #203744;" >
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Introduction</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= link_to public_user_path(user.id) do %>
                    <%= image_tag user.get_profile_image(50,50) %>
                  <% end %>
              </td>
              <td><%= user.name %></td>
              <td><%= user.introduction %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @users %>
      </div>
    </div>

  </div>

</div>