<h1>Public::Users#index</h1>
<p>Find me in app/views/public/users/index.html.erb</p>

<%= render 'public/post_images/list',user: @user %>

<h3>Users</h3>

<div>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Introduction</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to public_user_path(user.id) do %>
              <%= image_tag user.get_profile_image(50,50) %>
            <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
