<div class = "container" >

  <div class = "row" >

    <div class = "col-lg-4" >

      <%= render 'public/post_images/list' ,user: @user %>

      <div class = "my-3" >
        <% if @user.is_active == false %>
          このユーザーは退会しました。
        <% end %>
      </div>

      <!--follow機能-->

      <div class = "pr-5">

        <% if current_user != @user %>

          <% if current_user.following? (@user) %>
            <label><%= link_to "unfollow",public_relationship_path(@user.id),method: :delete,class: "btn btn-danger" %></label>

          <% else %>

          <% if @user.is_active == true %>
            <label><%= link_to "follow", public_relationships_path(@user.id),method: :post,class: "btn btn-primary" %></label>
          <% end %>

            </br>
          <% end %>

        <% end %>

        <label><strong><%= @user.followings.count %></strong> follow</label>

        <label><strong><%= @user.followers.count %></strong> follower</label>
        </br>
        <div class = "p-1" >
          <label><%= link_to"follow list",public_relationships_followings_path(@user.id) ,class: "btn btn-info" %></label>
          <label><%= link_to"follower list",public_relationships_followers_path(@user.id) ,class: "btn btn-info" %></label>
        </div>

      </div>

    </div>

      <!--follow機能-->

    <div class = "col-lg-8" >

      <div class = "mt-5" >

        <%= render 'public/post_images/post',post_images: @post_images %>

      </div>

  </div>

</div>