<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

<% if @user == current_user %>
  <h3>My Page</h3>
<% else %>
  <h3>User Detail</h3>
<% end %>

<div>

    <p><strong>Image</strong></p>

    <p><%= image_tag @user.get_profile_image(200,200)%></p>

    <p><strong>Name</strong></p>

    <p><%= @user.name %></p>

    <p><strong>Introduction</strong></p>

    <p><%= @user.introduction %></p>

  <% if @user == current_user %>
    <p><%= link_to"編集する",edit_public_user_path(@user.id) %></p>
  <% end %>

</div>

<div>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Flower</th>
        <th>Field</th>
        <th>Day</th>
        <th>Area</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      <% @post_images.each do |post_image|%>
      <tr>
        <td><%= image_tag post_image.get_image(50,50)%></td>
        <td><%= post_image.flower %></td>
        <td><%= post_image.field %></td>
        <td><%= post_image.day %></td>
        <td><% post_image.tags.each do |tag|%>
              <%= tag.area %>
            <% end %>
        </td>
        <td><%= link_to'詳細',public_post_image_path(post_image.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>