<!DOCTYPE html>
<html>
  <head>
    <title>FlowerField</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <div>
            <%= image_tag("logo.png") %><h3>Flower Field</h3>
          </div>

            <% if user_signed_in? %>

          <li><%= link_to'My page',public_user_path(current_user.id)%></li>
          <li><%= link_to'Flower fields',public_post_images_path %></li>
          <li><%= link_to'Users ',public_users_path %></li>
          <li><%= link_to'Log out',destroy_user_session_path, method: :delete %></li>

            <% else %>

          <li><%= link_to'Top',root_path %></li>
          <li><%= link_to'About',public_about_path %></li>
          <li><%= link_to'User log in',new_user_session_path %></li>
          <li><%= link_to'User sign up',new_user_registration_path %></li>

            <% end %>

          <li>作業用</li>
          <li><%= link_to'ADMIN LOG IN',new_admin_session_path %></li>
          <li><%= link_to"ADMIN Users",admin_users_path %></li>
          <li><%= link_to"ADMIN Post_images",admin_post_images_path %></li>
        </ul>
      </nav>

      <!--検索機能-->
      <div>
        <% if user_signed_in? %>

        <lable>花の名前を検索</lable>
          <%= form_tag(public_search_path,method: :get) do %>

            <%= text_field_tag :search %>

            <%= submit_tag 'Search',:name => nil %>

          <% end %>

          <% else %>
           <h3><%= link_to'ゲストログインはこちら',public_homes_guest_sign_in_path, method: :post %></h3>
        <% end %>
      </div>
      <!--検索機能-->
    </header>

    <%= yield %>

  </body>
</html>
