<!DOCTYPE html>
<html>
  <head>
    <title>FlowerField</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to'ABOUT',public_about_path %></li>
          <li><%= link_to'USER SIGN UP',new_user_registration_path %></li>
          <li><%= link_to'USER LOG IN',new_user_session_path %></li>
          <li><%= link_to'ADMIN LOG IN',new_admin_session_path %></li>
          <li>ゲスト</li>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
