<!DOCTYPE html>
<html>
  <head>
    <title>FlowerField</title>
    <meta name = "viewport" content = "width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body class = "d-flex flex-column vh-100 text-white-50" style = "background-color: #203744;">
    <header class = "text-white-50" style = "background-color: #165e83;" >
      <nav class = "navbar navbar-expand-lg navbar-dark" >
        <div class = "container" >

            <h3 style="font-family: 'Comfortaa', cursive;" >Flower<%= link_to top_path do %>
                <%= image_tag('icon.png')%>
              <% end %>Field
            </h3>


          <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarNavDropdown" aria-controls = "navbarNavDropdown" aria-expanded = "false" aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
          </button>

          <div class = "collapse navbar-collapse" id = "navbarNavDropdown">

        <!--ユーザーログイン-->
        <% if user_signed_in? %>

        <ul class = "navbar-nav ml-auto" >
          <li class = "nav-item" style="font-family: 'Comfortaa', cursive;">
            <%= link_to public_user_path(current_user.id),class: 'nav-link text-ligth' do %>
             <i class="fas fa-user"></i> My page
            <% end %>
          </li>
          <li class = "nav-item" style="font-family: 'Comfortaa', cursive;">
            <%= link_to public_post_images_path,class: 'nav-link text-ligth' do %>
              <i class="fas fa-images"></i> Flower fields
            <% end %>
          </li>
          <li class = "nav-item" style="font-family: 'Comfortaa', cursive;">
            <%= link_to public_users_path,class: 'nav-link text-ligth' do %>
            <i class="fas fa-users"></i> Users
              <% end %>
          </li>
          <li class = "nav-item" style="font-family: 'Comfortaa', cursive;">
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-ligth' do %>
              <i class="fas fa-user-lock"></i> log out
            <% end %>
          </li>
        </ul>
        <div class = "p-1">
            <lable>花の名前を検索</lable><%= form_tag(public_search_path, :method => 'get') do %>
              <%= text_field_tag :search %>
              <%= submit_tag 'Search', :name => nil,class: "btn btn-danger" %>
            <% end %>
        </div>
        <!--/ユーザーログイン-->

        <!--管理者ログイン-->
        <% elsif admin_signed_in? %>

        <ul class = "navbar-nav ml-auto" >
          <li class = "nav-item" >
            <%= link_to"投稿者 一覧",admin_users_path,class: 'nav-link text-ligth'  %>
          </li>
          <li class = "nav-item" >
            <%= link_to"投稿一覧",admin_post_images_path,class: 'nav-link text-ligth'  %>
          </li>
          <li class = "nav-item" >
            <%= link_to"ログアウト",destroy_admin_session_path, method: :delete ,class: 'nav-link text-ligth'%>
          </li>
        </ul>
        <div class = "p-1">
          <lable>ユーザーを検索</lable>
            <%= form_tag(admin_search_path, :method => 'get') do %>
              <%= text_field_tag :search %>
              <%= submit_tag 'Search',:name => nil,class: "btn btn-danger" %>
            <% end %>
        </div>
        <!--/管理者ログイン-->
        <% else %>

        <!--ログイン前-->
        <ul class = "navbar-nav ml-auto" style="font-family: 'Comfortaa', cursive;">
          <li class = "nav-item" >
            <%= link_to top_path,class: 'nav-link text-ligth' do %>
             <i class="fas fa-flag"></i> Home
            <% end %>
          </li>
          <li class = "nav-item" style="font-family: 'Comfortaa', cursive;">
            <%= link_to public_about_path,class: 'nav-link text-ligth' do %>
             <i class="fas fa-globe"></i> About
            <% end %>
          </li>
          <li class = "nav-item" style="font-family: 'Comfortaa', cursive;">
            <%= link_to new_user_session_path,class: 'nav-link text-ligth' do %>
             <i class="fas fa-user-lock"></i> Log in
            <% end %>
          </li>
          <li class = "nav-item" style="font-family: 'Comfortaa', cursive;">
            <%= link_to new_user_registration_path,class: 'nav-link text-ligth' do %>
             <i class="fas fa-user-plus"></i> Sign up
            <% end %>
          </li>
        </ul>
       <!--/ログイン前-->
        <% end %>
      </nav>
    </header><span class = "border-bottom border-danger"></span>

    <main class = "mb-auto">
      <%= yield %>
    </main>

    <span class = "border-top border-danger"></span>
    <footer class = "text-white-50" style = "background-color: #165e83;">
      <div class = "container">
        <div class = "row">
          <div class = "mx-auto mt-1">
            <p style="font-family: 'Comfortaa', cursive;"> ©tefutefu.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
