<!DOCTYPE html>
<html>
  <head>
    <title>FlowerField</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <div>
            <%= image_tag("logo.png")%>
            <h3>Flower Field</h3>
          </div>
            <% if user_signed_in? %>
          <li><%= link_to'My page',public_user_path(current_user.id)%></li>
          <li><%= link_to'Flower Fields',public_post_images_path %></li>
          <li><%= link_to'Users ',public_users_path %></li>
          <li><%= link_to'LOG OUT',destroy_user_session_path, method: :delete %></li>
            <% else %>
          <li><%= link_to'TOP',root_path %></li>
          <li><%= link_to'ABOUT',public_about_path %></li>
          <li><%= link_to'USER LOG IN',new_user_session_path %></li>
          <li><%= link_to'USER SIGN UP',new_user_registration_path %></li>
          <li><%= link_to'ゲストログイン',public_homes_guest_sign_in_path, method: :post %></li>
            <% end %>
          <li>作業用</li>
          <li><%= link_to'ADMIN LOG IN',new_admin_session_path %></li>
        </ul>
      </nav>
    </header>

    <% if user_signed_in? %>

      <h3>花の名前を検索</h3>

      <%= form_tag(public_search_path,method: :get) do %>

        <%= text_field_tag :search %>

        <%= submit_tag 'Search',:name => nil %>

      <% end %>

    <% end %>

    <%= yield %>
  </body>
</html>
